.container {
  display: flex;
  flex-direction: row;
  height: 6%;
  width: 100vw;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
}

.controlsWrapper {
  & > a {
    margin-right: 6px;
  }
}